.za-radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: var(--color-text);
  font-size: 14px;
}
.za-radio:not(.za-radio--disabled):hover .za-radio__inner {
  border-color: var(--radio-active-border-color);
}

.za-radio__widget {
  display: inline-block;
  vertical-align: middle;
}

.za-radio__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.za-radio__text {
  vertical-align: middle;
  margin: 0 8px;
}

.za-radio__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--radio-size);
  height: var(--radio-size);
  border: 1PX solid var(--radio-border-color);
  border-radius: var(--radio-radius);
  background: var(--radio-background);
  transition: all 0.2s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.za-radio__inner:before {
  content: "";
  width: calc(var(--radio-size) / 3.5);
  height: calc(var(--radio-size) / 2);
  border: calc(var(--radio-size) / 9) solid var(--radio-arrow-color);
  border-top: 0;
  border-left: 0;
  margin-top: calc(var(--radio-size) / -12);
  margin-left: calc(var(--radio-size) / 18);
  transform: rotate(45deg) scale(0);
  transition: all 0.2s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}

.za-radio--checked .za-radio__inner {
  border-color: var(--theme-primary);
  background-color: var(--theme-primary);
}
.za-radio--checked .za-radio__inner:before {
  transform: rotate(45deg) scale(1);
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.za-radio--disabled .za-radio__input {
  cursor: not-allowed;
}

.za-radio--disabled .za-radio__text {
  color: var(--color-text-disabled);
}

.za-radio--disabled .za-radio__inner {
  background-color: var(--radio-disabled-background);
}

.za-radio--disabled.za-radio--checked .za-radio__inner {
  border-color: var(--radio-border-color);
  background-color: var(--radio-disabled-background);
}
.za-radio--disabled.za-radio--checked .za-radio__inner:before {
  border-color: var(--radio-disabled-color);
}

.za-radio--untext {
  line-height: 1;
}

.za-radio-group {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.za-radio-group__inner {
  margin-right: -24px;
  margin-bottom: -8px;
}

.za-radio-group .za-radio {
  margin-right: 24px;
  margin-bottom: 8px;
}
.za-radio-group--block {
  width: 100%;
}
.za-radio-group--block .za-radio-group__inner {
  display: flex;
  flex-wrap: wrap;
}

.za-radio-group--block .za-radio {
  flex: 1;
}

.za-radio-group--button .za-radio-group__inner {
  margin-right: -8px;
  margin-bottom: -8px;
}

.za-radio-group--button .za-radio {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0;
  border: none;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  color: var(--color-text);
  outline: 0 none;
  user-select: none;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-appearance: none;
  /* disabled Button */
  /* block Button */
  border-width: 1PX;
  border-style: solid;
  border-radius: var(--radius-xs);
}
.za-radio-group--button .za-radio, .za-radio-group--button .za-radio:active, .za-radio-group--button .za-radio:hover, .za-radio-group--button .za-radio:focus, .za-radio-group--button .za-radio:visited {
  text-decoration: none;
}
.za-radio-group--button .za-radio.za-radio--disabled {
  cursor: not-allowed;
  opacity: var(--opacity-disabled);
}

.za-radio-group--button .za-radio.za-radio--block {
  display: block;
  width: 100%;
}

.za-radio-group--button .za-radio, .za-radio-group--button .za-radio:hover {
  background-color: var(--button-default-background);
  border-color: var(--button-default-border);
  color: var(--button-default-color);
}
.za-radio-group--button .za-radio:active {
  background-color: var(--button-default-background);
  border-color: var(--button-default-border);
  color: var(--button-default-color);
}
.za-radio-group--button .za-radio.za-radio--disabled {
  opacity: var(--button-disabled-opacity);
  cursor: not-allowed;
}
.za-radio-group--button .za-radio.za-radio--disabled:active, .za-radio-group--button .za-radio.za-radio--disabled:focus, .za-radio-group--button .za-radio.za-radio--disabled:visited {
  background-color: var(--button-default-background);
  border-color: var(--button-default-border);
  color: var(--button-default-color);
}

.za-radio-group--button .za-radio.za-radio--shadow {
  box-shadow: 0 3px 3px 0 var(--button-default-shadow-color);
}

.za-radio-group--button .za-radio.za-radio--loading .za-activity-indicator.za-activity-indicator--circular circle {
  stroke: var(--button-default-color);
}

.za-radio-group--button .za-radio .za-radio__text {
  margin: 0;
}

.za-radio-group--button .za-radio.za-radio--checked, .za-radio-group--button .za-radio.za-radio--checked:hover {
  background-color: var(--button-primary-background);
  border-color: var(--button-primary-border);
  color: var(--button-primary-color);
}
.za-radio-group--button .za-radio.za-radio--checked:active {
  background-color: var(--button-primary-active-background);
  border-color: var(--button-primary-active-border);
  color: var(--button-primary-active-color);
}
.za-radio-group--button .za-radio.za-radio--checked.za-radio--disabled {
  opacity: var(--button-disabled-opacity);
  cursor: not-allowed;
}
.za-radio-group--button .za-radio.za-radio--checked.za-radio--disabled:active, .za-radio-group--button .za-radio.za-radio--checked.za-radio--disabled:focus, .za-radio-group--button .za-radio.za-radio--checked.za-radio--disabled:visited {
  background-color: var(--button-primary-background);
  border-color: var(--button-primary-border);
  color: var(--button-primary-color);
}

.za-radio-group--button .za-radio.za-radio--checked.za-radio--shadow {
  box-shadow: 0 3px 3px 0 var(--button-primary-shadow-color);
}

.za-radio-group--button .za-radio.za-radio--checked.za-radio--loading .za-activity-indicator.za-activity-indicator--circular circle {
  stroke: var(--button-primary-color);
}

.za-radio-group--button.za-radio-group--block .za-radio {
  flex: 1;
}

.za-radio-group--button.za-radio-group--rect .za-radio {
  border-width: 1PX;
  border-style: solid;
  border-radius: 0;
}

.za-radio-group--button.za-radio-group--radius .za-radio {
  border-width: 1PX;
  border-style: solid;
  border-radius: var(--radius-md);
}

.za-radio-group--button.za-radio-group--round .za-radio {
  border-width: 1PX;
  border-style: solid;
  border-radius: var(--radius-round);
}

.za-radio-group--button.za-radio-group--circle .za-radio {
  border-width: 1PX;
  border-style: solid;
  border-radius: var(--radius-circle);
}

.za-radio-group--button.za-radio-group--lg .za-radio {
  padding: 0 var(--button-padding-h-lg);
  font-size: var(--button-font-size-lg);
  height: var(--button-height-lg);
  line-height: 1.5;
}
.za-radio-group--button.za-radio-group--lg .za-radio.za-radio--circle {
  width: var(--button-height-lg);
  padding: 0;
}

.za-radio-group--button.za-radio-group--lg .za-radio .za-icon {
  font-size: var(--button-icon-size-lg);
}
.za-radio-group--button.za-radio-group--lg .za-radio.za-radio--link {
  line-height: var(--button-height-lg);
}

.za-radio-group--button.za-radio-group--lg .za-radio.za-radio--loading .za-activity-indicator {
  width: var(--button-font-size-lg);
  height: var(--button-font-size-lg);
}

.za-radio-group--button.za-radio-group--lg .za-radio * + span {
  margin-left: calc(var(--button-padding-h-lg) / 2);
}

.za-radio-group--button.za-radio-group--md .za-radio {
  padding: 0 var(--button-padding-h-md);
  font-size: var(--button-font-size-md);
  height: var(--button-height-md);
  line-height: 1.5;
}
.za-radio-group--button.za-radio-group--md .za-radio.za-radio--circle {
  width: var(--button-height-md);
  padding: 0;
}

.za-radio-group--button.za-radio-group--md .za-radio .za-icon {
  font-size: var(--button-icon-size-md);
}
.za-radio-group--button.za-radio-group--md .za-radio.za-radio--link {
  line-height: var(--button-height-md);
}

.za-radio-group--button.za-radio-group--md .za-radio.za-radio--loading .za-activity-indicator {
  width: var(--button-font-size-md);
  height: var(--button-font-size-md);
}

.za-radio-group--button.za-radio-group--md .za-radio * + span {
  margin-left: calc(var(--button-padding-h-md) / 2);
}

.za-radio-group--button.za-radio-group--sm .za-radio {
  padding: 0 var(--button-padding-h-sm);
  font-size: var(--button-font-size-sm);
  height: var(--button-height-sm);
  line-height: 1.5;
}
.za-radio-group--button.za-radio-group--sm .za-radio.za-radio--circle {
  width: var(--button-height-sm);
  padding: 0;
}

.za-radio-group--button.za-radio-group--sm .za-radio .za-icon {
  font-size: var(--button-icon-size-sm);
}
.za-radio-group--button.za-radio-group--sm .za-radio.za-radio--link {
  line-height: var(--button-height-sm);
}

.za-radio-group--button.za-radio-group--sm .za-radio.za-radio--loading .za-activity-indicator {
  width: var(--button-font-size-sm);
  height: var(--button-font-size-sm);
}

.za-radio-group--button.za-radio-group--sm .za-radio * + span {
  margin-left: calc(var(--button-padding-h-sm) / 2);
}

.za-radio-group--button.za-radio-group--xs .za-radio {
  padding: 0 var(--button-padding-h-xs);
  font-size: var(--button-font-size-xs);
  height: var(--button-height-xs);
  line-height: 1.5;
}
.za-radio-group--button.za-radio-group--xs .za-radio.za-radio--circle {
  width: var(--button-height-xs);
  padding: 0;
}

.za-radio-group--button.za-radio-group--xs .za-radio .za-icon {
  font-size: var(--button-icon-size-xs);
}
.za-radio-group--button.za-radio-group--xs .za-radio.za-radio--link {
  line-height: var(--button-height-xs);
}

.za-radio-group--button.za-radio-group--xs .za-radio.za-radio--loading .za-activity-indicator {
  width: var(--button-font-size-xs);
  height: var(--button-font-size-xs);
}

.za-radio-group--button.za-radio-group--xs .za-radio * + span {
  margin-left: calc(var(--button-padding-h-xs) / 2);
}

.za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked, .za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked:hover {
  background-color: transparent;
  border-color: var(--theme-primary);
  color: var(--theme-primary);
}
.za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked:active {
  background-color: transparent;
  border-color: var(--theme-primary);
  color: var(--theme-primary);
}
.za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked.za-radio--disabled, .za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked.za-radio--disabled:active, .za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked.za-radio--disabled:hover, .za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked.za-radio--disabled:focus, .za-radio-group--button.za-radio-group--ghost .za-radio.za-radio--checked.za-radio--disabled:visited {
  background-color: transparent;
  border-color: var(--theme-primary);
  color: var(--theme-primary);
  cursor: not-allowed;
}

.za-radio-group--button.za-radio-group--compact .za-radio:not(:last-child) {
  margin-right: -1PX;
}
.za-radio-group--button.za-radio-group--compact .za-radio:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.za-radio-group--button.za-radio-group--compact .za-radio:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.za-radio-group--button.za-radio-group--compact .za-radio:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.za-radio-group--button.za-radio-group--compact .za-radio.za-radio--checked {
  z-index: 1;
}

.za-radio-group--cell {
  display: block;
  overflow: visible;
}
.za-radio-group--cell .za-radio-group__inner {
  margin-right: 0;
  margin-bottom: 0;
}

.za-radio-group--cell .za-radio {
  position: static;
  margin-right: 0;
  margin-bottom: 0;
}
