.za-pull {
  overflow: hidden;
  min-height: var(--pull-control-height);
}
.za-pull__content {
  will-change: transform;
  transform: translate3d(0, var(--pull-control-height), 0);
}

.za-pull__refresh, .za-pull__load {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.za-pull__refresh {
  margin-top: calc(var(--pull-control-height) * -1);
  height: var(--pull-control-height);
}

.za-pull__load {
  height: 0;
}
.za-pull__load--show {
  height: var(--pull-control-height);
}

.za-pull__control {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: var(--pull-control-height);
  color: var(--color-text-caption);
  font-size: var(--pull-control-font-size);
}
.za-pull__control .za-icon {
  font-size: 22px;
}
.za-pull__control * + span {
  margin-left: 8px;
}
